<div class="page-heading">
  <h1 class="page-title">Categorias</h1>
</div>
<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-head">
      <div class="ibox-title">Listando Categorias</div>
      <%= link_to new_backoffice_category_path, class: "btn btn-success btn-circle" do%>
      <i class="fa fa-plus"></i>
      <% end -%>
    </div>
    <div class="ibox-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Opção</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.id%></td>
            <td><%= category.description%></td>
            <td style=" width: 150px;">
              <%= link_to edit_backoffice_category_path(category), class: "btn btn-default btn-xs" do%>
              <i class="fa fa-pencil font-14"></i></button>
              <% end -%>
              <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i></button>
            </td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>

