/*
 *= require libs/bootstrap/dist/css/bootstrap.min
 *= require font-awesome
 *= require libs/main.min
*/

@keyframes hide {
  from { opacity: 1 }
  to   { opacity: 0 }
}
.alert-position{
  position: absolute;
  z-index: 1000;
  top:60px;
  right:10px;
}
.alert-time{
  animation: hide 5s 5s forwards
  
}